@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<input type="hidden" value="@Model!.CurrentProduct.Id" name="Id"/>
<div class="product-details">
    <div class="product-details-img"><img src="@Model.CurrentProduct.Img" /></div>
    <div class="product-info">
        <div class="product-details-title">@Model.CurrentProduct.Brand.BrandName @Model.CurrentProduct.Model</div>
        <div class="product-details-price">@Model.CurrentProduct.Price.ToString("c")</div>
        <div class="cart-btn">
            <a asp-controller="Cart" asp-action="InCart" asp-route-id="@Model.CurrentProduct.Id">
                В корзину
            </a>
        </div>
    </div>
</div>
<div class="product-details-tabs">
    <p style="color: black;font-weight:600;font-size:1.2rem;">Характеристики</p>
    <p>Отзывы</p>
</div>
    <div class="product-property">
        @{
            foreach(var item in Model.ProductProperties)
            {
                <div class="product-property-content">
                    <p class="display-name">@item.DisplayName</p>
                    <p class="property-value">@item.Value @item.EngUnit</p>
                </div>
            }
        }
    </div>
@*<review reviews="@Model.Reviews"></review>*@


