@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ItVis | Главная</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />
    <link rel="stylesheet" href="~/css/desctop.css" />
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a asp-controller="Main" asp-action="Main">
                        <img src="~/img/navigation/Logo.png" />
                    </a>
                </div>
                <div class="main-nav">
                    <ul>
                        <li class="hassubs">
                            <a>
                                Категории 
                            </a>
                            <ul>
                                @{
                                    foreach(var item in Model!.ProductTypes)
                                    {
                                        <li>
                                            <a asp-controller="Product" asp-action="ProductList"
                                                asp-route-category="@item.TypeName">
                                                @item.TypeName
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search-panel">
                        <form method="post" asp-controller="Product" asp-action="SearchProduct">
                            <input type="text" class="search-input" placeholder="Поиск" name="searchString"/>
                            <input type="submit" class="search-btn" value="Поиск" /> 
                        </form>
                </div>
                <div class="header-extra">
                    <div class="profile">
                        @{
                            if(@HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                            {
                                <img src="~/img/navigation/user.png" />
                                <p>@HttpContextAccessor.HttpContext.Session.GetString("UserName")</p>
                                <div class="account-action">
                                    <a asp-controller="Account" asp-action="Logout">
                                        Выйти
                                    </a>
                                </div>
                            }
                            else
                            {
                                <img src="~/img/navigation/user.png" />
                                <a asp-controller="Account" asp-action="Login">Вход</a>
                            }
                        }
                    </div>
                    <div class="shopping-cart">
                        <a asp-controller="Cart" asp-action="Cart">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 489 489"  xml:space="preserve">
                                <g>
                                    <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
									    c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
									    C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
									    H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
									    c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
                                </g>
                            </svg>
                            <div>Корзина</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
            @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo"><img src="~/img/navigation/Logo.png" /></div>
                <div class="copyright">
                    &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved 
                </div>
                <div class="footer-social"></div>
            </div>
        </div>
    </footer>

    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
